.mobile-menu {
	display: none;
}

header {
	background-color: #f5671a;
	width: 100%;
	padding: 200px 0 50px 0;
	color: #fff;
}

main {
	background-color: #f5e37e;
	padding: 100px 0;
}

.intro h2 {
	font-family: 'Millesime', sans-serif;
	font-size: 2.25rem;
	font-weight: normal;
	text-align: center;
	padding: 80px 0 0 0;
}

.intro h1 {
	font-family: 'Lulo', sans-serif;
	font-size: 4rem;
	text-align: center;
	padding: 50px 0 100px 0;
	text-decoration: #fff wavy underline;
	text-underline-offset: 15px;
}

h1.page-title {
	font-family: 'TXC Pearl', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	margin: 50px auto;
	text-underline-offset: 10px;
}

#menu {
	font-family: 'TXC Pearl', sans-serif;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
	justify-self: center;
    margin: auto;
}

#menu a {
	text-decoration: none;
	color: #fff;
}

#menu ul {
    list-style-type: none;
    display: flex;
	position: relative;
	top: -115px;
	justify-content: space-evenly;
}

#menu ul.left {
    grid-column: 1;
}

#menu ul.right {
    grid-column: 3;
}

#menu li {
	padding: 0px 10px;
}

#menu img {
    grid-column: 2;
    width: 200px;
    height: auto;
    justify-self: center;
	position: relative;
	transform: translateY(-60%);
	
}

.nav-menu {
    margin: auto;
    padding: 10px;
    width: 80%;
	height: 80px;
    background-color: #4a71be;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
}

.about {
	display: flex;
	justify-content: center;
}

.about-wrap, .resume-wrap, .resume-remain, .works-wrap {
	margin: auto;
	width: 80%;
}

.about-wrap {
	padding: 0 0 50px 0
}

.resume-wrap {
	padding: 50px 0 0 0;
}

.works-wrap {
	/* padding: 20px 0 0 0; */
}

.resume-remain {
	padding: 0 !important;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.resume-remain-wrap {
	padding: 0 30px;
	grid-column: 2;
}

.about-tab {
	width: 200px;
	height: 35px;
	background-color: #f5671a;
	clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
	font-size: 20px;
	font-weight: bold;
	padding: 0 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #fff;
	border-radius: 5px 5px 0 0;
}

.about-address, .works-address {
	width: 100%;
	height: 50px;
	background-color: #f5671a;
	padding: 0 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-top-right-radius: 10px;
}

.about-info {
	width: 100%;
	height: auto;
	background-color: #fff;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	padding: 30px;
	border-radius: 0 0 10px 10px;
}

.about-info .description {
	width: 300px;
}

.about-url, .works-url {
	width: 100%;
	height: 40px;
	background-color: #fff;
	border-radius: 20px;
	padding: 10px;
}

.about-info img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.about-me, .about-facts, .about-interests, .company-title {
	height: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
	display: block;
	margin: 0 auto;
}

.about-me {
	grid-column: 1;
    align-items: flex-start;
}

.about-facts {
	grid-column: 2;
	align-items: flex-end;
	
}

.about-interests {
	grid-column: 3;
	align-items: flex-start;
}

.about-title {
	text-align: center;
	width: 300px;
	border: 2px solid #000;
	margin: 10px 0 20px 0;
}

.works {
	padding: 50px 0 0 0;
}

.works-address {
	background-color: #2ca34f;
}

.tab-container {
	width: 100%;
}

.works ul {
    list-style-type: none;
	display: flex;
}

.tabs {
    display: flex;
    align-items: center;
}

.tab-item {
    padding: 8px 15px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 20px;
	width: 150px;
	border-radius: 10px 10px 0 0;
}


.tab-item.active {
    font-weight: bold;
    background-color: #2ca34f;
	color: #fff;
}

.tab-content {
	background-color: #fff;
    padding: 20px;
	display: none;
	height: 500px;
}

.works-url {
	display: none;
}

.tab-content.active {
	border-radius: 0 0 10px 10px;
}

.tab-content.active, .works-url.active, .about-url {
	display: flex;
	align-items: center;
}

.works-info {
	display: flex;
	align-items: center;
}

.company {
	flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 40px 60px;
	border-right: 5px solid #2ca34f;
}

.company img {
	width: 200px;
	height: auto;
}

.experience {
	flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: justify;
	padding: 40px 60px;
}

.company-title {
	margin: 20px auto 10px auto;
	text-align: center;
	width: 200px;
	border: 2px solid #000;
	margin: 10px 0 20px 0;
}

.company a {
	color: #000;
}

.company a:hover {
	color: #2ca34f;
	font-weight: bold;
}

.resume {
	height: 1360px;
}

.resume-remain {
	margin: 10px auto;
	width: 80%;
}

.edu {
	padding: 0 0 20px 60px;
	font-weight: bold;
	font-size: 1.3rem;
	color: #4a71be;
}

.reg1 {
	background-color: #4a71be;
	width: 100%;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px 40px;
	border-radius: 20px;
}

.reg2 {
	width: 320px;
	height: 330px;
	background-color: #f5671a;
	position: relative;
	top: -70px;
	margin: -50px auto;
	border-radius: 10px;
}

.reg3 {
	width: 80%;
	height: 550px;
	background-color: #2ca34f;
	position: relative;
	bottom: -100px;
	margin: -50px auto;
	border-radius: 15px;
	overflow-y: auto;
}

.reg1-col1 {
	grid-column: 1;
}

.reg1-col2 {
	grid-column: 2;
}

.reg1-ins2 {
	margin: 0 auto;
}

.reg2-ins {
	position: relative;
	top: -290px;
	color: #fff;
	padding: 0 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reg3-ins {
	color: #fff;
	padding: 0px 30px 40px 30px;
	height: 550px;
}

.reg1-ins1, .reg1-ins2{
	color: #fff;
	padding: 0 30px;
	overflow-y: auto;
}


.reg1-ins1 li, .reg1-ins2 li {
	padding-left: 20px;
	text-indent: -20px;
}

.reg3-ins ul{
	padding-left: 20px;
}

.reg2-ins .portrait-sticker {
	width: 300px;
	height: auto;
}

.reg2-ins .resume-icon {
	width: 16px;
	margin-right: 10px;
}

.role, .skill {
	font-weight: bold;
	color: #f5e37e;
}

.title-wrap {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: baseline;
}

.title-wrap h1 {
	color: #fff;
	font-size: 1.75rem;
	padding: 10px 10px 10px 0;
}

.title-line {
	width: 100%;
	height: 3px;
	background-color: #f5671a;
	grid-column: 2;
	border-radius: 2px;
}

.resume-title {
	color: #fff;
	font-size: 2rem;
	text-align: center;
	padding: 20px 0;
}

.level {
	height: 16px;
	width: 250px;
	grid-column: 2;
}

.language {
	font-weight: bold;
	color: #4a71be;
	margin: 0 0 20px 0;
}

.english, .vietnamese {
	display: grid;
	grid-template-columns: 150px 1fr;
}

.english p, .vietnamese p {
	grid-column:1;
}
  
.faqs {
	background-color: #2ca34f;
	padding: 20px;
	color: #fff;
}

.faqs a {
	color: #fff;
}

.faqs a:hover {
	color: #f5e37e;
}

.faqs .page-title {
	color: #f5e37e;
	margin: 20px;
	text-decoration: #f5e37e wavy underline;
	text-underline-offset: 10px;
}

.contact {
	margin: 20px 0;
}

.contact-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	margin: 20px;
}

.contact-wrap img {
	width: 64px;
	height: auto;
}

.contact-me {
	text-align: center;
	font-size: 2.25rem;
	font-weight: bold;
	font-variant: small-caps;
	margin: 30px;
}

.contact-type {
	margin: 0 50px;
}

.faqs-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2rem;
}

details {
	background-color: #fff;
	color: #2ca34f;
	padding: 10px 40px;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	width: 800px;
}

summary {
	width: 800px;
	font-weight: bold;
}

footer {
	background-color: #f5671a;
	padding: 100px auto;
	width: 100%;
	font-weight: bold;
	color: #fff;
}

.footer-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 50px 0;
}

.footer-wrap img {
	width: 150px;
	height: auto;
	margin: 20px;
}

.scallop-down{
	height: 50px;
	width: 100%;
	background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#2ca34f), color-stop(0.49, #2ca34f), color-stop(0.51, #f5671a), to(#f5671a));
	-webkit-background-size: 49px 100%;
}

.scallop-up{
	height: 50px;
	width: 100%;
	background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#2ca34f), color-stop(0.49, #2ca34f), color-stop(0.51, #f5e37e), to(#f5e37e));
	-webkit-background-size: 49px 100%;
}

.checkered-divider {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, minmax(30px, 50px));
    overflow: hidden;
}

.checkered-row-1,
.checkered-row-2 {
    display: grid;
    grid-auto-flow: column;
    gap: 0;
}

.square {
    width: 100%;
    aspect-ratio: 1;
}

.checkered-row-1 .square:nth-child(odd) {
    background-color: #f5671a;
}

.checkered-row-1 .square:nth-child(even) {
    background-color: #f5e37e;
}

.checkered-row-2 .square:nth-child(odd) {
    background-color: #f5e37e;
}

.checkered-row-2 .square:nth-child(even) {
    background-color: #f5671a;
}

#scrollToTopBtn {
    width: 100px;
    height: 100px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s;
}

#scrollToTopBtn img {
    width: 100%;
    height: 100%;
    animation: spinning 10s linear infinite;
    transform-origin: center;
	 object-fit: cover;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#scrollToTopBtn::before {
    content: "TOP";
	font-family: 'TXC Pearl';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #f5671a;
    z-index: 1;
    pointer-events: none;
}
